/*
*Darkest: #6C8976
*Light: #ABD1B5
*Medium: #79B791
*/

/** Container and styles for the browser pages*/
@media only screen and (max-width: 500px){
    body, html{
        margin: 0em;
        padding: 0em;
    }

    h1{
        margin-top: 3em;
        text-align: center;
        color: #6C8976;
    }

    .container{
        margin-top: 0em;
        margin-bottom: 3em;
    }
    
    .card{
        height: auto;
        width: 95%;
        margin: auto;
        margin-bottom: 1em;
        box-shadow: 1px 5px 5px #6c897694;
        background: linear-gradient(to bottom right, #ABD1B5, white);
    }
    
    .card-body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content min-content;
        
        
    }

    /* Sections for the cards */
    #topSection{
        grid-row: 1;
    }
    #middleSection{
        grid-row: 2;
        
    }
    #lowerSection{
        margin-top: 1vh;
        grid-area: 3;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: min-content min-content min-content;
    }

    /* Top section */
    .card-title{
        width: 100%;
        color: #6C8976;
        
    }
    
    /* Middle section */
    .card-text{
        color: #6C8976;
    }

    /* Lower section */
    .card-location, .card-datetime{ 
        color: #6C8976;
        
    }

    .card-location {
        grid-row: 1;
    }
    
    .card-datetime {
        grid-row: 2;
    }

    .btn{
        background-color: #ABD1B5;
        color: #6C8976;
        width: 35%;
        height: auto;
        box-shadow: 3px 4px 5px #6C8976;
        transition: 0.5s;
        padding-top: 10px;
        grid-row: 3;
        justify-self: self-end;
        
    }

    .btn:active{
        box-shadow: none;
        transition: 0.5s;
    }

    .btn:hover{
        background-color: #6C8976;
        color: #ABD1B5;
        transition: 0.5s;
    }

    #activityPoster {
        text-decoration: none;
        color: black ;
        font-style: italic;
    }
}


