/*
*Darkest: #6C8976
*Light: #ABD1B5
*Medium: #79B791
*/

/** Container and styles for the browser pages*/
@media only screen and (max-width: 500px){
    body, html{
        margin: 0em;
        padding: 0em;
    }

    h1{
        margin-top: 3em;
        text-align: center;
        color: #6C8976;
    }

    .container{
        margin-top: 0em;
        margin-bottom: 3em;
    }
    
    .card{
        height: 12em;
        width: 95%;
        margin: auto;
        margin-bottom: 1em;
        box-shadow: 1px 5px 5px #6c897694;
        background: linear-gradient(to bottom right, #ABD1B5, white);
    }
    
    .card-body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 34%);
        grid-template-areas:
        "top"
        "mid"
        "bot";
    }

    /* Sections for the cards */
    #topSection{
        grid-area: top;
    }
    #middleSection{
        grid-area: mid;
    }
    #lowerSection{
        grid-area: bot;
        display: flex;
        justify-content: space-between;
    }

    /* Does group want it?
    .card-image{
        grid-area: img;
        height: 10px;
        width: 10em;
        border: 1px solid red;
        display: none;
    } */

    /* Top section */
    .card-title{
        width: 100%;
        color: #6C8976;
    }
    
    /* Middle section */
    .card-text{
        color: #6C8976;
    }

    /* Lower section */
    .card-location, .card-datetime{ 
        color: #6C8976;
        width: 6em;
    }
    
    .btn{
        background-color: #ABD1B5;
        color: #6C8976;
        width: 35%;
        height: 3em;
        box-shadow: 3px 4px 5px #6C8976;
        transition: 0.5s;
        padding-top: 10px;
    }

    .btn:active{
        box-shadow: none;
        transition: 0.5s;
    }

    .btn:hover{
        background-color: #6C8976;
        color: #ABD1B5;
        transition: 0.5s;
    }
}

