/** Container and styles for the browser pages*/
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'activity1'
    'activity2'
    'activity3'
    'activity4'
    'activity5';
    align-content: center;
    text-align: center;
}

#browserButton{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 90%;
    align-items: center;

}

h1{
    font-size: 12px;
    grid-row: 1 /span 1;
    grid-column: 1 /span 2;
}

p{
    font-size: 7px;
    grid-column: 1 /span 1;
    grid-row: 2 /span 1;

}

#myimage{
    height: 60px;
    width: 60px;
    margin-left: 40px;
}
