#showChats{
    border: 1px solid #596869;
}


@media only screen and (max-width: 500px){
    #chatForm{
        border: 1px solid lightgray;
        width: 80%;
        margin: auto;
        padding: 5%;
       
    }
    body{
        padding-top: 20%;
    }
    #message ,#receiver{
        width:54vw ;
        margin-left: 1em;
    }
    
    #see-startChat{
        text-align: center;
    }
    #see-startChat button{
        margin: 20px;
    }
    

    #messageLabel, #receiverLabel, #submit{
        margin-left: 1em;
    }

    
}
