#showChats{
    border: 1px solid red;
}


@media only screen and (max-width: 500px){
    #chatForm{
        border: 1px solid lightgray;

        width: 80%;

        margin-top: 10em;
        margin-left: 2.5em;
        padding-bottom: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #chats-go-here , #eachChats-go-here{
        display: flex;
        flex-direction: column-reverse;
    }
}
