#join_btn{
    display: block;
    border: none;
    margin: 15px auto;
    background-color: #3cb96c;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}
#comment_participant_btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#container{
    margin-top: 15%;
    text-align: center;
}