
.btn{
    background-color: #79B791;
    color: #fff;
    border-radius: 8px;
}
#chat{
    position: fixed;
    bottom: 55px;
    display: flex;
}
#message{
    width: 82vw;
}

#searchBar{
    display: none;
}

#searchSubmit{
    display: none;
}


@media only screen and (max-width: 500px){
    #navbar-before{
        color: #efeeb4;
        display: flex;
        align-items: center;
    }


    /* Settings styles */
    #dangerTitle{
        color: red;
    }

    #deleteAcc{
        border: none;
        background-color: #79B791;
        color: #efeeb4;
    }
}
#category1{
    background-image: url(/1800_202330_BBY01/images/hike.jpg);
    opacity :0.8;
    background-size: 400px 150px;
    color: black;
    
    
}

#category2{
    background-image: url(/1800_202330_BBY01/images/sports.jpg);
    background-size: 400px;
    color: black;
    opacity :0.8;

}

#category3{
    background-image: url(/1800_202330_BBY01/images/gastronomy.jpg);
    background-size: 300px;
    color: black;
    opacity :0.8;

}

#category4{
    background-image: url(/1800_202330_BBY01/images/seasonal.jpg);
    background-size: 300px;
    opacity :0.8;
}