<<<<<<< HEAD
/*
*Darkest: #6C8976
*Light: #ABD1B5
*Medium: #79B791

=======
/*Darkest: #6C8976
*Light: #ABD1B5
*Medium: #79B791
>>>>>>> 11922ec88b2212603d267a40a0c981fd4daf3b98
.bg-info {
*/


.responsive {
    width: 100%;
    height: auto;
<<<<<<< HEAD
=======
}

.btn-outline-success {
    color: #ffffff;
    background-color: #79B791
}

.btn-outline-secondary {
    color: #efeeb4;
    /* Light shade for text on info button */
    background-color: #6C8976;
    /* Accent color for button background */
    border-color: #309975;
    /* Dark shade for button border */
}

.btn-primary {
    color: #efeeb4;
    /* Light shade for text */
    font-size: 150%;
    background-color: #79B791;
    /* Dark shade for primary button background */
    border-color: #79B791;
    /* Darkest shade for border */
    border-width: thick;
}

body {
    background-color: #ffffff;
    /* Light shade for body background */
}

.navbar-brand {
    font-family: 'Young Serif', cursive;
    font-size: 2.5rem;
    color: #6C8976;
}

.nav-link {
    color: #6C8976;
}

.navbar-expand-lg {
    background-color: #ABD1B5;
    color: #6C8976;
}

.navbar-nav {
    background-color: #ABD1B5;
}


#navbarSupportedContent {
    background-color: #ABD1B5;
}



/** Container and styles for the browser pages*/
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'activity1'
    'activity2'
    'activity3'
    'activity4'
    'activity5';
    align-content: center;
    text-align: center;
>>>>>>> 11922ec88b2212603d267a40a0c981fd4daf3b98
}

.btn-outline-success {
    color: #ffffff;
    background-color: #79B791
}

.btn-outline-secondary {
    color: #efeeb4;
    /* Light shade for text on info button */
    background-color: #6C8976;
    /* Accent color for button background */
    border-color: #309975;
    /* Dark shade for button border */
}

.btn-primary {
    color: #efeeb4;
    /* Light shade for text */
    font-size: 150%;
    background-color: #79B791;
    /* Dark shade for primary button background */
    border-color: #79B791;
    /* Darkest shade for border */
    border-width: thick;
}

body {
    background-color: #ffffff;
    /* Light shade for body background */
}

.navbar-brand {
    font-family: 'Young Serif', cursive;
    font-size: 2.5rem;
    color: #6C8976;
}

.nav-link {
    color: #6C8976;
}

.navbar-expand-lg {
    background-color: #ABD1B5;
    color: #6C8976;
}

.navbar-nav {
    background-color: #ABD1B5;
}


<<<<<<< HEAD
#navbarSupportedContent {
    background-color: #ABD1B5;
=======
/** Container and Styles for the activity pages */
.activityContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 30% 10% 20%;
    align-content: center;
    background-color: grey;
}

#primaryImage{
    grid-row: 1 /span 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

#description{
    grid-row: 2 /span 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

#commentsRatings{
    grid-row: 3 /span 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

#join{
    grid-row: 4 /span 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
#displayImg{
    max-width: 70%;
    max-height: 80%;

>>>>>>> 11922ec88b2212603d267a40a0c981fd4daf3b98
}


@media only screen and (max-width : 700px) {
    #nav2 {
        display: none;
    }
    .container-fluid {
        display: flex;
        flex-wrap: inherit;
        justify-content: space-between;
        align-items: center;
    }
    
    .fa-bars {
        margin-top: 15px;
    }
    
    .me-2 {
        border-radius: 20px;
    }
    
    .btn-outline-success {
        border-radius: 100%;
        border: none;
    }
    
    #chat_icon {
        border: none;
        background: inherit;
    }
    
    .navbar-toggler:focus {
        box-shadow: none;
    }
}

<<<<<<< HEAD
@media only screen and (max-width : 1600px) and (min-width : 701px) {
    #nav1 {
        display: none;
    }
=======
#commentButton{
    height: 70%;
    width: 30%;
    margin-right: 30px;

}
#ratingButton{
    height: 70%;
    width: 30%;
    margin-left: 30px;

}
#joinButton{
    height: 50%;
    width: 60%;

>>>>>>> 11922ec88b2212603d267a40a0c981fd4daf3b98
}

@media only screen and (max-width : 700px) {
    #nav2 {
        display: none;
    }
    .container-fluid {
        display: flex;
        flex-wrap: inherit;
        justify-content: space-between;
        align-items: center;
    }

    .fa-bars {
        margin-top: 15px;
    }

    .me-2 {
        border-radius: 20px;
    }

    .btn-outline-success {
        border-radius: 100%;
        border: none;
    }

    #chat_icon {
        border: none;
        background: inherit;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

@media only screen and (max-width : 1600px) and (min-width : 701px) {
    #nav1 {
        display: none;
    }
}