
.btn{
    background-color: #79B791;
    color: #fff;
    border-radius: 8px;
}
#chat{
    position: fixed;
    bottom: 55px;
    display: flex;
}
#message{
    width: 82vw;
}

#searchForm{
    border: 1px solid red;
}

#searchBar{
    display: none;
}

#searchSubmit{
    display: none;
}
