#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    position: relative;
}

#category1{
    padding: 1em 7em 1em 7em; 
}

#category2{
    padding: 1em 9.25em 1em 9.25em;
}

#category3{
    padding: 1em 8em 1em 8em;
}

#category4{
    padding: 1em 9em 1em 9em;
}

#main input{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #ABD1B5;
    filter: opacity();
    transition: 0.5s;
    position: relative;
}


#main input:hover{
    background-color: #6C8976;
    transition: 0.5s;
}


#main label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #6C8976;
    font-size: 20pt;
    font-weight: bold;
}

input[value]{
    font-weight: bold;
    margin: 0em;
    position: absolute;
}